#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
server-id=4
bind-address=0.0.0.0
datadir=/var/lib/mysql/
socket=/var/lib/mysql/mysql.sock
tmpdir=/tmp/
gtid-ignore-duplicates=OFF

auto_increment_increment=2
auto_increment_offset=2

log_bin=mysql-bin
expire_logs_days=4

wait_timeout=60
thread_cache_size=16

long_query_time=0.8
slow_query_log=1
slow_query_log_file=/var/lib/mysql/slow.log
log_output=FILE

userstat = 1

user=mysql
symbolic-links=0
binlog_format=STATEMENT

default_storage_engine=InnoDB

slave_skip_errors=1062,1396,1690

innodb_autoinc_lock_mode=2

innodb_buffer_pool_size=2048M
innodb_buffer_pool_instances=2
innodb_log_file_size=256M
innodb_log_buffer_size=64M
innodb_flush_log_at_trx_commit=1
innodb_thread_concurrency=24
innodb_file_per_table
innodb_write_io_threads=24
innodb_read_io_threads=24
innodb_sched_priority_cleaner=39
innodb_adaptive_flushing=1
innodb_purge_threads=5
#transaction-isolation=READ-COMMITTED
innodb_adaptive_hash_index_partitions=64
innodb_flush_neighbors=0
innodb_flush_method=O_DIRECT
innodb_io_capacity=10000
innodb_io_capacity_max=16000
innodb_lru_scan_depth=1024
innodb_sort_buffer_size=32M
innodb_ft_cache_size=70M
innodb_ft_total_cache_size=1G



slave_parallel_threads=5
slave_parallel_mode=optimistic
slave_parallel_max_queued=10000000

log_slave_updates=on

performance_schema=on

skip-name-resolve

max_allowed_packet = 512M




query_cache_type=0
query_cache_size = 0
query_cache_limit = 1M
query_cache_min_res_unit=1K
max_connections = 250

table_open_cache=64K
innodb_open_files=64K
table_definition_cache=64K
open_files_limit=1020000
collation-server = utf8_general_ci
character-set-server = utf8

log-error=/var/lib/mysql/error.log

[mysqld_safe]
log-error=/var/lib/mysql/error.log
pid-file=/var/lib/mysql/mysqld.pid
malloc-lib=/usr/lib64/libjemalloc.so.1

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.0 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.0]
